{% load static %}
<!DOCTYPE html>

<html data-theme="night">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>90 Day Aim</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <script src="{% static 'htmx.min.js' %}" defer></script>
    </head>

    <body>
        <main>

            {% block content %}
            {% endblock %}

            <form hx-post="{% url 'userSearch' %}" hx-target="#searchError">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Submit">
                <div class="htmx-indicator">loading</div>
            </form>
            <div id="searchError"></div>
        </main>
    </body>
</html>